.mobile-frame-wrapper {
  position: relative;
  width: 300px;
  margin: auto;
  text-align: center;
}

/* Title + Description outside top */
.outside-banner-text {
  min-height: 110px;
  margin-bottom: 15px;
}

.banner-carusoul-container {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.banner-mobile-new-desc {
  font-size: 14px;
  color: #ddd;
  margin: auto;
  line-height: 1.4;
  max-width: 280px;
  margin: 0 auto;
}

.carousel-inside-frame {
  position: absolute;
  top: 20%;
  left: 6%;
  width: 88%;
  height: 95%;
  overflow: hidden;
  border-radius: 25px;
  z-index: 1;
  background-color: white;
}

.carousel-inside-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-frame-overlay {
  position: relative;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.carousel-control-prev11,
.carousel-control-next11 {
  z-index: 3; 
  transform: translateY(-10%);

}

.carousel-control-prev11 {
  margin-left: 10px;
}

.carousel-control-next11 {
  margin-right: 10px;
}


