.scrollable-container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 10px;
  scrollbar-width: none;
  margin-bottom: 20px !important;
}

.scrollable-container .d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.scrollable-container-1 {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

.scrollable-container-1::before,
.scrollable-container-1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px; 
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.scrollable-container-1::before {
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, transparent 100%);
}

.scrollable-container-1::after {
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255) 0%, transparent 100%);
}

.logo-image {
  /* width: 200px; */
  height: 80px;
  padding: 10px;
  filter: grayscale(100%);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

.logo-image:hover {
  filter: grayscale(0%);
  transform: scale(1.25); 
}