/* .card-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
} */

.default-section-title {
    text-align: center;
    margin-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.case-card-portfolio {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    padding: 20px;
}

.case-card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.case-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.case-card:hover .case-card-img {
    width: 50%;
    height: 50%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.case-card:hover {
    /* background: linear-gradient(to top,black 50%,white 50%); */
    background: linear-gradient(rgba(0,173,239,255) 50%, rgba(139,196,63,255) );
    /* background-image: linear-gradient(to right, rgba(0,173,239,255),rgba(139,196,63,255)); */
    color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.case-study-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    text-align: center;
    width: 100%;
}

.case-card:hover .case-study-text {
    top: 3%;
    transform: translateY(0);
}

.case-study-more {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 50%;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.case-card:hover .case-study-more {
    opacity: 1;
}

.case-study-text p,
.case-study-more p {
    font-size: 20px;
    font-weight: bold;
    color: #777;
    margin: 5px 0;
}

.case-study-text h4 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.case-card:hover .case-study-text p,
.case-card:hover .case-study-text h4,
.case-card:hover .case-study-more p {
    color: #fff;
}

.portfolio-link-get{
    text-decoration: none;
}