.privacy-header {
    font-size: 20px;
    color: black;
    font-family: var(--fontFamily);
    font-weight: 700;
}

.privacy-content{
    font-size: 15px;
    font-family: var(--fontFamily);
    margin-bottom: 15px;
    color:#666666;
    line-height: 1.8;
    text-align: justify;
}

.privacy-header-2{
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    color: black;
    font-family: var(--fontFamily);
}

.privacy-ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.privacy-li{
    margin: 10px 0px;
    font-size: 15px;
    color: #666666;
    font-family: var(--fontFamily2);
}

.privacy-li-no{
    font-weight: 700;
    margin-right: 8px;
    color: black;
}

.privacy-header-3 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: black;
    font-family: var(--fontFamily);
}
.privacy-li2 {
    position: relative;
    padding-left: 20px;
    margin: 10px 0px;
    font-size: 15px;
    color: #666666;
    font-family: var(--fontFamily2);
}
.privacy-li2 ::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7b7b7b;
    position: absolute;
    left: 0;
    top: 6px;
}

.privacy-header-4{
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: black;
    font-family: var(--fontFamily);
}
.privacy-header-5{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: black;
    font-family: var(--fontFamily);
}
.privacy-header-6{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: black;
    font-family: var(--fontFamily);
}