.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  background-color: #46abc0 !important;
  border-radius: 50%;
  border: none;
  margin: 5px;
  opacity: 0.5;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #edecec;
}

.gallery {
  overflow: hidden;
  mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
}

/* .banner-carusoul-container {
  margin-top: 30px !important;
} */

.laptop-banner-main {
  background-repeat: no-repeat;
  background-image: url('../../../assets/Images/hs-ban-lap.png');
  background-position: center;
  height: 90vh;
  position: relative;
  margin-top: -2.5rem;
}

#carouselImage {
  max-width: 1080px !important;
  max-height: 590px;
  margin: auto;
  overflow: hidden;
  top: -16%;
}

#carouselImage img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.carusoul-dot-image,
.carusoul-circle-image {
  width: 80px !important;
}

@media (max-width: 799px) {
  .laptop-banner-main {
    height: auto;
    margin-top: 0;
    background-size: cover;
  }

  #carouselImage {
    max-width: 100%;
    top: 0;
    padding: 0 10px;
  }

  #carouselImage img {
    margin-top: 20px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .laptop-banner-main {
    background-size: 1200px auto;
    height: 90vh;
  }

  #carouselImage {
    max-width: 950px !important;
    max-height: 550px;
    margin: auto;
    overflow: hidden;
    top: -11%;
  }

  .banner-carusoul-container {
    font-size: 25px !important;
  }

}

@media (max-width: 899px) {
  .laptop-banner-main {
    background-size: cover;
    height: auto;
    margin-top: 0;
  }

  #carouselImage {
    max-width: 100%;
    top: 0;
    padding: 0 10px;
  }

  #carouselImage img {
    margin-top: 20px;
  }
}

@media (min-width: 1201px) {
  .laptop-banner-main {
      margin-top: 1rem;
  }

  #carouselImage {
    max-width: 1080px;
    max-height: 590px;
    margin: auto;
    top: -6%;
  }

  #carouselImage img {
    margin-top: 80px;
  }

  .banner-carusoul-container {
    font-size: 28px;
  }
}

/* Optional: For large 4K screens */
/* @media (min-width: 1600px) {
  .laptop-banner-main {
          margin-top: 4.5rem;
  }

  #carouselImage {
    max-width: 1205px;
        top: -0.4%;
  }

  .banner-carusoul-container {
    font-size: 52px !important;
  }
} */

