/* .why-choose-phone-img {
    background-image: url('../../../assets/Images/banner-mobile/home-banner-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
}

.carousel-container-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
}

#carouselPhone {
    width: 93%;
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
    z-index: 2;
    padding: 0px 0px 20px 0px;
}

#carouselPhone img {
    width: 100%;
    height: auto;
    object-fit: contain;
} */

.why-choose-phone-img {
    background-image: url('../../../assets/Images/banner-mobile/home-banner-img.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.iphone-device.why-choose-phone-img {
    background-size: contain;
}

.android-device.why-choose-phone-img {
    background-size: cover;
}

.carousel-container-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
}

#carouselPhone {
    width: 100%;
    max-width: 360px;
    padding: 0 0 13px 0;
    /* margin-bottom: 31.5px; */
}

#carouselPhone img {
    width: 100%;
    max-height: 85vh;
    object-fit: contain;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .home-about-img {
        margin-top: 270px;
    }

    .home-about1 {
        margin-top: -300px;
    }
}


/* @media screen and (min-width: 577px) and (max-width: 768px) {
    .why-choose-phone-img {
        height: 100vh;
        background-size: contain;
        background-position: center;
    }

    #carouselPhone {
        max-width: 330px;
        padding-bottom: 40px;
    }

    #carouselPhone img {
        max-height: 95vh;
    }

    .carousel-arrows-rightandleft {
        font-size: 20px;
    }

    .home-about-img {
        margin-top: 270px;
    }
}

@media screen and (min-width: 451px) and (max-width: 576px) {
    .banner-mobile-size {
        margin-top: 160px;
    }

    .carousel-title-wrapper h1 {
        font-size: clamp(18px, 4vw, 20px);
    }

    #carouselPhone img {
        max-height: 85.5vh;
        margin-top: 0;
    }

    .home-about-img {
        margin-top: 270px;
    }

    .why-choose-phone-img {
        background-position: center;
    }
}

@media screen and (min-width: 376px) and (max-width: 450px) {
    .carousel-title-wrapper h1 {
        font-size: clamp(20px, 4.5vw, 25px);
    }

    #carouselPhone img {
        max-height: 85vh;
        margin-top: 20px;
    }

    .home-about-img {
        margin-top: 150px;
    }

    .why-choose-phone-img {
        background-position: center;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .carousel-title-wrapper h1 {
        font-size: clamp(16px, 5vw, 25px);
    }

    #carouselPhone img {
        max-height: 85.5vh;
        margin-top: 0;
    }

    .home-about-img {
        margin-top: 150px;
    }

    .why-choose-phone-img {
        background-position: center;
    }
}

@media screen and (max-width: 320px) {
    .banner-mobile-size {
        margin-top: 10px;
    }

    .carousel-title-wrapper h1 {
        font-size: clamp(14px, 6vw, 25px);
    }

    #carouselPhone img {
        max-height: 95vh;
    }

    .home-about-img {
        margin-top: 200px;
    }
} */