.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: var(--Hs--color);
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: var(--Hs--color);
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: var(--Hs--color);
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: var(--Hs--green);
  }
}

/* .loader {
  width: 120px; 
  height: 80px; 
  position: relative;
  display: inline-block;
  --base-color: white;
}

.loader::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 72px; 
  height: 72px; 
  border-radius: 50%;
  background-color: var(--Hs--color);
  background-image:
    radial-gradient(circle 16px at 36px 36px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 36px 0px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 0px 36px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 72px 36px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 36px 72px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 60px 10px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 60px 10px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 60px 60px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 10px 60px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 8px at 10px 10px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

.loader::after {
  content: '';
  left: 70px; 
  top: 30px;  
  position: absolute;
  width: 48px; 
  height: 48px; 
  border-radius: 50%;
  background-color: var(--Hs--green);
  background-image:
    radial-gradient(circle 10px at 24px 24px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 24px 0px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 0px 24px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 48px 24px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 24px 48px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 40px 6px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 40px 6px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 40px 40px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 6px 40px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 5px at 6px 6px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} */