.service-details-text-area img {
    max-width: 100%;
    height: auto;
}

.service-details-text-area h3 {
    margin-top: 25px;
    margin-bottom: 12px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fontFamily);
}

.detail-service-para{
    font-size: 15px;
    font-family: var(--fontFamily2);
    margin-bottom: 15px;
    color:#666666;
    line-height: 1.8;
}
.details-list {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}
.details-list li {
    color: #666666;
    display: flex;
    align-items: baseline;
    margin: 15px 0px;
    color: black;
    font-size: 15px;
    font-family: var(--fontFamily2);
}

.details-list li i {
    color: #0064fb;
    margin-right: 5px;
}


.sidebar-card {
    background-color: white;
    box-shadow:rgba(17, 17, 26, 0.1) 0px 0px 16px;;
    border-radius: 5px;
    padding: 30px;
}

.detail-service-input {
    position: relative;
    display: flex
;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.search-box .btn {
    color: white;
    background-color: #0064fb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-service-input .btn {
    position: relative;
    z-index: 2;
}

.sidebar-card {
    background-color: white;
    box-shadow:rgba(17, 17, 26, 0.1) 0px 0px 16px;;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
}

.sidebar-card h3 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 100, 251, 0.2862745098);
    color: black;
    font-size: 20px;
    font-family: var(--fontFamily);
}

.categories ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.categories ul li {
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--fontFamily2);
    font-weight: 500;
}

.categories ul li i {
    margin-right: 5px;
    color:#0064fb;
}

.categories ul li a {
    text-decoration: none;
    color: black;
}
