.back-to-top-btn {
    background-image: linear-gradient(to right, var(--Hs--color), Var(--Hs--green));
    /* background-color: var(--Hs--color) !important; */
    color: white !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100% !important;
}

@media (max-width: 576px) {
  .back-to-top-btn {
    right: 15px !important;
    bottom: 15px !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 16px !important;
  }
}

