.why-we-card {
    z-index: 9;
    position: relative;
    margin-top: 30px;
    padding: 30px 30px 25px 140px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}

.why-we-card:hover .why-we-card-icon {
    background-color: var(--Hs--color);
}

.why-we-card .why-we-card-icon {
    width: 90px;
    height: 80px;
    transition: 0.5sease;
    background-color: #2e2f46;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.why-we-card .why-we-card-icon .home-choose-icon {
    font-size: 35px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.why-we-home {
    margin-top: 100px;
}

.why-choose-img {
    max-width: 100%;
    height: auto;
}

/*  */

.why-choose-mobile-img {
  background-repeat: no-repeat;
  background-image: url('../../../assets/Images/home-mobile-bg.png');
  background-position: center;
  background-size: contain;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 30px 10px;
}

#carouselLeft, #carouselRight {
  max-width: 100%;
  width: 100%;
  max-height: 550px;
  margin: auto;
  overflow: hidden;
}

#carouselLeft img, #carouselRight img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}


@media (min-width: 768px) {
  #carouselLeft, #carouselRight {
    max-width: 270px;
  }
}

@media (max-width: 767px) {
  .why-choose-mobile-img {
    background-size: cover;
    padding: px 0;
    margin-top: 20px;
  }

  #carouselLeft, #carouselRight {
    max-height: 940px;
  }
}


.choose-mobile-btn{
  margin-left: 20px;
  background-color: var(--Hs--color);
  padding: 5px 12px;
  border-radius: 100%;
}
.choose-mobile-btn2{
  margin-right: 20px;
    background-color: var(--Hs--color);
  padding: 5px 12px;
  border-radius: 100%;
}


/*  */


.mobileapp-frame-wrapper {
  position: relative;
  width: 300px;   /* adjust */
  margin: auto;
}

.carousel-inside-frame-mapp {
  position: absolute;
  top:4%;   
  left: 8%;
  width: 87%;
  height: 93%;
  overflow: hidden;
  border-radius: 25px;
  z-index: 1;  
}

.carousel-inside-frame-mapp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobileapp-frame-overlay {
  position: relative;
  width: 100%;
  z-index: 2;  
  pointer-events: none;
}
.carousel-indicators {
  display: none !important;
}
